.footer{
    position:fixed;
    height: 8%;
    width:100%;
    bottom: 0%;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 4;
    color: white;
    display:flex;
    justify-content:left;
    align-items: center;
}

.socmed-links{
    margin-left: 30px;
}

.footer i{
    color:white;
    font-size: 30px;
    transition: all 0.5s;
    margin: 0 8px;
    
}

.footer a{
    text-decoration: none;
}

.footer i:hover{
    color:crimson;
}

.credits a{
    color: white;
    text-decoration: none;
}

.credits a:hover{
    text-decoration: underline;
}

.credits-container{
    position: relative;
    left: 85%;
    font-family: 'Oswald', sans-serif;
    font-size: 1vw;
    padding: 1vw;
}

.credits-container:hover + .credits{
    display: block;
}

.credits-container:hover{
    cursor: pointer;
}

.credits:hover{
    display: block;
}

.credits{
    display: none;
    font-size: 1vw;
    position: absolute;
    top: -19vw;
    left: 74vw;
    padding: 2vw;
    /* width: 30vw; */
    background-color: rgba(0, 0, 0, 0.788);
    text-align: left;
    font-family: 'Oswald', sans-serif;
    border: crimson 1px solid

}

.credits strong{
    color: crimson;
    font-weight: 600;
}