@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;600&display=swap");
canvas {
  width: 100%;
  height: auto;
  border: none;
  background-color: black;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -o-pixelated;
      image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.screen {
  width: 30%;
  z-index: 3
}

.main-container {
  margin-top: 5%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  height: 60%;
}

.count-container {
  width: 35%;
}

.splash-up{
  width: 100%;
  height: 50%;
  position: fixed;
  background-color: black;
  top:0px;
  left:0px;
  z-index: 4;
}

.splash-down{
  width: 100%;
  height: 50%;
  position: fixed;
  background-color: black;
  top:50%;
  left:0px;
  z-index: 4;
}

.splash-message{
  font-family: 'Oswald', sans-serif;
  position: absolute;
  color: white;
  font-size: 2.5vw;
  width: 100%;
  top: 80%;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
}

.splash-down .splash-message{
  top: 10%;
}

.splash-message strong{
  color:crimson;
}

.splash-button{
  font-family: 'Oswald', sans-serif;
  position: absolute;
  font-size: 2vw;
  display: flex;
  text-align: center;
  background: white;
  color: black;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  font-weight: 300;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 3;
  width: 7vw;
  height: 3.5vw;
  align-items: center;
  justify-content: center;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.splash-button:hover{
  background-color: crimson;
  cursor: pointer;
}


.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  width: 100%;
  font-family: 'Oswald', sans-serif;
  background-color: black;
}

.seats {
  display: fixed;
  bottom: 0%;
  width: 80%;
  height: auto;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

body {
  background-color: black;
  position: fixed;
  width: 100%;
}

.title {
  position: relative;
  z-index: 5;
  font-size: 7.5vw;
  display: inline-block;
  background: rgba(0, 0, 0, 0);
  -webkit-transform: skew(-10deg) rotate(-10deg);
  transform: skew(-10deg) rotate(-10deg);
  padding: 12px 5px;
  margin-left: 20px;
  margin-top: 4%;
  text-transform: uppercase;
  font-weight: 300;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}


.count-num {
  position: relative;
  text-align: center;
  font-size: 10vw;
  display: inline-block;
  background: black;
  -webkit-transform: skew(-10deg) rotate(-10deg);
  transform: skew(-10deg) rotate(-10deg);
  margin-top: 10px;
  left: 40%;
  text-transform: uppercase;
  font-weight: 300;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.count-large{
  font-size: 13vw;
}

.red{
  color: crimson
}


.title strong{
  font-weight: 600;
  color: white;
}




/* char info */

.onscreen-title {
  font-size: 1vw;
  display: inline-block;
  background: black;
  -webkit-transform: skew(10deg) rotate(10deg);
  transform: skew(10deg) rotate(10deg);
  margin-left: 8%;
  margin-top: 2%;
  text-transform: uppercase;
  font-weight: 300;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}


.char-image {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  overflow: hidden;
  transition: all 3s;
  z-index: 1;
  opacity: 1;
}

.invisible{
  opacity: 0;
  transition: all 0.1s;
}

.image-container {
  position: relative;
  top: 0;
  width: 90%;
  /* height: 90%; */
  height: calc(32vw * 0.56);
  background-color: black;
  margin-left: 40px;
  overflow: hidden;
  -webkit-transform: skew(10deg) rotate(10deg);
  transform: skew(10deg) rotate(10deg);
}

.movie-info-container {
  width: 35%;
  display: flex;
  flex-direction: column;
  margin-top: 1%;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.char-name{
  position: absolute;
  bottom: 0;
  left: 0;
}


.char-name-container {
  position: relative;
  width: 100%;
  height: 65%;
  top: -105%;
  text-align: left;
  font-size: 2.3vw;
  /* -webkit-transform: skew(10deg) rotate(10deg);
  transform: skew(10deg) rotate(10deg); */
  text-transform: uppercase;
  font-weight: 600;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 2;
  background: rgba(0, 0, 0, 0.438);
  /* background: white */
}

.movie-title{
  position: absolute;
  top: 0;
  left: 10%;
}

.movie-title-container {
  position: relative;
  text-align: left;
  width: 100%;
  height: 40%;
  top: -105%;
  font-size: 1vw;
  background: rgba(220, 20, 60, 0.438);
  /* -webkit-transform: skew(10deg) rotate(10deg);
  transform: skew(10deg) rotate(10deg); */
  text-transform: uppercase;
  font-weight: 300;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 2;
}




/* animations */


/* fade in left */
@-webkit-keyframes fadeInLeft{
  0%{
      opacity:0;
      -webkit-transform:translateX(-400px);
      transform:translateX(-400px);
    }
  100%{
      opacity:1;
      -webkit-transform:translateX(0);
      transform:translateX(0);
  }
}
@keyframes fadeInLeft{
  0%{
      opacity:0;
      -webkit-transform:translateX(-400px);
      -ms-transform:translateX(-400px);
      transform:translateX(-400px);}
  100%{
      opacity:1;
      -webkit-transform:translateX(0);
      -ms-transform:translateX(0);
      transform:translateX(0);
  }
}

.fadeInLeft{
  -webkit-animation-name:fadeInLeft;
  animation-name:fadeInLeft;
  -webkit-animation-duration:1s;
  animation-duration:1s;
  -webkit-animation-fill-mode:both;
  animation-fill-mode:both;
}

/* fade in right */
@-webkit-keyframes fadeInRight{
  0%{
      opacity:0;
      -webkit-transform:translateX(400px);
      transform:translateX(400px);
    }
  100%{
      opacity:1;
      -webkit-transform:translateX(0);
      transform:translateX(0);
  }
}
@keyframes fadeInRight{
  0%{
      opacity:0;
      -webkit-transform:translateX(400px);
      -ms-transform:translateX(400px);
      transform:translateX(400px);}
  100%{
      opacity:1;
      -webkit-transform:translateX(0);
      -ms-transform:translateX(0);
      transform:translateX(0);
  }
}

.fadeInRight{
  -webkit-animation-name:fadeInRight;
  animation-name:fadeInRight;
  -webkit-animation-duration:1s;
  animation-duration:1s;
  -webkit-animation-fill-mode:both;
  animation-fill-mode:both;
}


/* fade out left */

@-webkit-keyframes fadeOutLeft{
  0%{
      opacity:1;
      -webkit-transform:translateX(0px);
      transform:translateX(0px);
    }
  100%{
      opacity:0;
      -webkit-transform:translateX(-400px);
      transform:translateX(-400px);
  }
}
@keyframes fadeOutLeft{
  0%{
      opacity:1;
      -webkit-transform:translateX(0px);
      -ms-transform:translateX(0px);
      transform:translateX(0px);}
  100%{
      opacity:0;
      -webkit-transform:translateX(-400px);
      -ms-transform:translateX(-400px);
      transform:translateX(-400px);
  }
}

.fadeOutLeft{
  -webkit-animation-name:fadeOutLeft;
  animation-name:fadeOutLeft;
  -webkit-animation-duration:1s;
  animation-duration:1s;
  -webkit-animation-fill-mode:both;
  animation-fill-mode:both;
}

/* fade out right */

@-webkit-keyframes fadeOutRight{
  0%{
      opacity:1;
      -webkit-transform:translateX(0px);
      transform:translateX(0px);
    }
  100%{
      opacity:0;
      -webkit-transform:translateX(400px);
      transform:translateX(400px);
  }
}
@keyframes fadeOutRight{
  0%{
      opacity:1;
      -webkit-transform:translateX(0px);
      -ms-transform:translateX(0px);
      transform:translateX(0px);}
  100%{
      opacity:0;
      -webkit-transform:translateX(400px);
      -ms-transform:translateX(400px);
      transform:translateX(400px);
  }
}

.fadeOutRight{
  -webkit-animation-name:fadeOutRight;
  animation-name:fadeOutRight;
  -webkit-animation-duration:1s;
  animation-duration:1s;
  -webkit-animation-fill-mode:both;
  animation-fill-mode:both;
}


/*splash cut*/
/* left */

@-webkit-keyframes splashLeft{
  0%{
      opacity:1;
      -webkit-transform:translateX(0px);
      transform:translateX(0px);
    }
  100%{
      opacity:1;
      -webkit-transform:translateX(-4000);
      transform:translateX(-4000);
  }
}
@keyframes splashLeft{
  0%{
      opacity:1;
      -webkit-transform:translateX(0px);
      -ms-transform:translateX(0px);
      transform:translateX(0px);}
  100%{
      opacity:1;
      -webkit-transform:translateX(-4000px);
      -ms-transform:translateX(-4000px);
      transform:translateX(-4000px);
  }
}

.splashLeft{
  -webkit-animation-name:splashLeft;
  animation-name:splashLeft;
  -webkit-animation-duration:1s;
  animation-duration:1s;
  -webkit-animation-fill-mode:both;
  animation-fill-mode:both;
}

/* right */

@-webkit-keyframes splashRight{
  0%{
      opacity:1;
      -webkit-transform:translateX(0px);
      transform:translateX(0px);
    }
  100%{
      opacity:1;
      -webkit-transform:translateX(4000);
      transform:translateX(4000);
  }
}
@keyframes splashRight{
  0%{
      opacity:1;
      -webkit-transform:translateX(0px);
      -ms-transform:translateX(0px);
      transform:translateX(0px);}
  100%{
      opacity:1;
      -webkit-transform:translateX(4000px);
      -ms-transform:translateX(4000px);
      transform:translateX(4000px);
  }
}

.splashRight{
  -webkit-animation-name:splashRight;
  animation-name:splashRight;
  -webkit-animation-duration:1s;
  animation-duration:1s;
  -webkit-animation-fill-mode:both;
  animation-fill-mode:both;
}



/* buttons */

.muteButton{
  position: relative;
  top: 70%;
  left: 90%;
  color:crimson;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}



.muteButton:hover{
  color:rgb(218, 73, 102);
  cursor: pointer;
}

.muteButton .material-icons{
  position: absolute;
  font-size: 2vw;
}

.genre-container{
  position: absolute;
  top: 6.9%;
  left: 35%;
  color:crimson;
  display: flex;
}

.genre-button{
  font-size: 1vw;
  text-align: center;
  display: flex;
  background: rgb(255, 255, 255);
  color: black;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 3;
  width: 4vw;
  height: 2vw;
  align-items: center;
  justify-content: center;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  border: none;
  opacity: 0.5;
}

.genre-button:hover{
  cursor: pointer;
  opacity:1;
}

.genre-button.genre-selected{
  background-color: crimson;
}


.kill-button{
  position: relative;
  font-size: 5vw;
  display: flex;
  text-align: center;
  background: rgb(255, 255, 255);
  color: black;
  /* padding: 12px 15px; */
  margin-top: -22%;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 3;
  width: 13vw;
  height: 6.5vw;
  align-items: center;
  justify-content: center;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.red-button{
  font-size: 6vw;
}

.kill-button:hover{
  cursor: pointer;
  background-color: crimson;
}

.restart-button:hover{
  cursor: pointer;
  background-color: crimson;
}


.restart-button{
  position: relative;
  font-size: 1vw;
  display: flex;
  text-align: center;
  background: rgb(255, 255, 255);
  color: black;
  /* padding: 12px 15px; */
  margin-top: 20%;
  left: 36%;
  text-transform: uppercase;
  font-weight: 300;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 3;
  width: 4vw;
  height: 2vw;
  align-items: center;
  justify-content: center;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}