@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;600&display=swap");
canvas {
  width: 100%;
  height: auto;
  border: none;
  background-color: black;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -o-pixelated;
      image-rendering: pixelated;
  image-rendering: crisp-edges;
  /* -webkit-box-shadow:0 0 50px 10px rgba(255, 255, 255, 0.315);
    -moz-box-shadow: 0 0 50px 10px rgba(255, 255, 255, 0.315); 
    box-shadow:0 0 50px 10px rgba(255, 255, 255, 0.315); */
}

.screen {
  width: 40%;
  z-index: 3
}

.main-container {
  margin-top: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  height: 60%;
}

.count-container {
  width: 30%;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  width: 100%;
  font-family: 'Oswald', sans-serif;
  background-color: black;
}

.seats {
  display: fixed;
  bottom: 0%;
  width: 100%;
  height: auto;
}

body {
  background-color: black;
  position: fixed;
  width: 100%;
}


.title {
  font-size: 6.5vw;
  display: inline-block;
  background: black;
  -webkit-transform: skew(-10deg) rotate(-10deg);
  transform: skew(-10deg) rotate(-10deg);
  padding: 12px 5px;
  margin-left: 20px;
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: 300;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.count-num {
  position: relative;
  text-align: center;
  font-size: 10vw;
  display: inline-block;
  background: black;
  -webkit-transform: skew(-10deg) rotate(-10deg);
  transform: skew(-10deg) rotate(-10deg);
  margin-top: 10px;
  left: 40%;
  text-transform: uppercase;
  font-weight: 300;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.red{
  color: crimson
}


.title span {
  font-weight: 600;
  color: white;
}






/* char info */

.char-image {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  overflow: hidden;
  transition: all 3s;
  z-index: 1;
  opacity: 1;
}

.invisible{
  opacity: 0;
  transition: all 0.1s;
}

.image-container {
  position: relative;
  top: 12%;
  width: 90%;
  /* height: 90%; */
  height: calc(27vw * 0.56);
  background-color: black;
  margin-left: 40px;
  overflow: hidden;
  -webkit-transform: skew(10deg) rotate(10deg);
  transform: skew(10deg) rotate(10deg);
}

.movie-info-container {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.char-name{
  position: absolute;
  bottom: 0;
  left: 0;
}


.char-name-container {
  position: relative;
  width: 100%;
  height: 65%;
  top: -105%;
  text-align: left;
  font-size: 2.3vw;
  /* -webkit-transform: skew(10deg) rotate(10deg);
  transform: skew(10deg) rotate(10deg); */
  text-transform: uppercase;
  font-weight: 600;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 2;
  background: rgba(0, 0, 0, 0.438);
}

.movie-title{
  position: absolute;
  top: 0;
  left: 10%;
}

.movie-title-container {
  position: relative;
  text-align: left;
  width: 100%;
  height: 40%;
  top: -105%;
  font-size: 1vw;
  background: rgba(255, 82, 82, 0.432);
  /* -webkit-transform: skew(10deg) rotate(10deg);
  transform: skew(10deg) rotate(10deg); */
  text-transform: uppercase;
  font-weight: 300;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 2;
}




/* animations */


/* fade in left */
@-webkit-keyframes fadeInLeft{
  0%{
      opacity:0;
      -webkit-transform:translateX(-400px);
      transform:translateX(-400px);
    }
  100%{
      opacity:1;
      -webkit-transform:translateX(0);
      transform:translateX(0);
  }
}
@keyframes fadeInLeft{
  0%{
      opacity:0;
      -webkit-transform:translateX(-400px);
      -ms-transform:translateX(-400px);
      transform:translateX(-400px);}
  100%{
      opacity:1;
      -webkit-transform:translateX(0);
      -ms-transform:translateX(0);
      transform:translateX(0);
  }
}

.fadeInLeft{
  -webkit-animation-name:fadeInLeft;
  animation-name:fadeInLeft;
  -webkit-animation-duration:1s;
  animation-duration:1s;
  -webkit-animation-fill-mode:both;
  animation-fill-mode:both;
}

/* fade in right */
@-webkit-keyframes fadeInRight{
  0%{
      opacity:0;
      -webkit-transform:translateX(400px);
      transform:translateX(400px);
    }
  100%{
      opacity:1;
      -webkit-transform:translateX(0);
      transform:translateX(0);
  }
}
@keyframes fadeInRight{
  0%{
      opacity:0;
      -webkit-transform:translateX(400px);
      -ms-transform:translateX(400px);
      transform:translateX(400px);}
  100%{
      opacity:1;
      -webkit-transform:translateX(0);
      -ms-transform:translateX(0);
      transform:translateX(0);
  }
}

.fadeInRight{
  -webkit-animation-name:fadeInRight;
  animation-name:fadeInRight;
  -webkit-animation-duration:1s;
  animation-duration:1s;
  -webkit-animation-fill-mode:both;
  animation-fill-mode:both;
}


/* fade out left */

@-webkit-keyframes fadeOutLeft{
  0%{
      opacity:1;
      -webkit-transform:translateX(0px);
      transform:translateX(0px);
    }
  100%{
      opacity:0;
      -webkit-transform:translateX(-200);
      transform:translateX(-200);
  }
}
@keyframes fadeOutLeft{
  0%{
      opacity:1;
      -webkit-transform:translateX(0px);
      -ms-transform:translateX(0px);
      transform:translateX(0px);}
  100%{
      opacity:0;
      -webkit-transform:translateX(-400px);
      -ms-transform:translateX(-400px);
      transform:translateX(-400px);
  }
}

.fadeOutLeft{
  -webkit-animation-name:fadeOutLeft;
  animation-name:fadeOutLeft;
  -webkit-animation-duration:1s;
  animation-duration:1s;
  -webkit-animation-fill-mode:both;
  animation-fill-mode:both;
}

/* fade out right */

@-webkit-keyframes fadeOutRight{
  0%{
      opacity:1;
      -webkit-transform:translateX(0px);
      transform:translateX(0px);
    }
  100%{
      opacity:0;
      -webkit-transform:translateX(200);
      transform:translateX(200);
  }
}
@keyframes fadeOutRight{
  0%{
      opacity:1;
      -webkit-transform:translateX(0px);
      -ms-transform:translateX(0px);
      transform:translateX(0px);}
  100%{
      opacity:0;
      -webkit-transform:translateX(400px);
      -ms-transform:translateX(400px);
      transform:translateX(400px);
  }
}

.fadeOutRight{
  -webkit-animation-name:fadeOutRight;
  animation-name:fadeOutRight;
  -webkit-animation-duration:1s;
  animation-duration:1s;
  -webkit-animation-fill-mode:both;
  animation-fill-mode:both;
}

