@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;600&display=swap");
canvas {
  width: 100%;
  height: auto;
  border: none;
  background-color: black;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -o-pixelated;
      image-rendering: pixelated;
  image-rendering: crisp-edges;
  /* -webkit-box-shadow:0 0 50px 10px rgba(255, 255, 255, 0.315);
    -moz-box-shadow: 0 0 50px 10px rgba(255, 255, 255, 0.315); 
    box-shadow:0 0 50px 10px rgba(255, 255, 255, 0.315); */
}

.screen {
  width: 40%;
}

.main-container {
  margin-top: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  height: 60%;
}

.count-container {
  width: 30%;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  width: 100%;
  font-family: 'Oswald', sans-serif;
  background-color: black;
}

.seats {
  display: fixed;
  bottom: 0%;
  width: 100%;
  height: auto;
}

body {
  background-color: black;
  position: fixed;
  width: 100%;
}


.title {
  font-size: 6.5vw;
  display: inline-block;
  background: black;
  -webkit-transform: skew(-10deg) rotate(-10deg);
  transform: skew(-10deg) rotate(-10deg);
  padding: 12px 5px;
  margin-left: 20px;
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: 300;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.count-num {
  position: relative;
  text-align: center;
  font-size: 10vw;
  display: inline-block;
  background: black;
  -webkit-transform: skew(-10deg) rotate(-10deg);
  transform: skew(-10deg) rotate(-10deg);
  margin-top: 10px;
  left: 40%;
  text-transform: uppercase;
  font-weight: 300;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.red{
  color: crimson
}


.title span {
  font-weight: 600;
  color: white;
}

.char-image {
  position: relative;
  max-height: 90%;
  max-height: 90%;
  width: auto;
  height: auto;
  overflow: hidden;
  transition: all 1s;
}

.image-container {
  position: absolute;
  top: 12%;
  width: 90%;
  height: 90%;
  height: calc(30vw * 0.56);
  background-color: black;
  margin-left: 40px;
  -webkit-transform: skew(10deg) rotate(10deg);
  transform: skew(10deg) rotate(10deg);
  z-index: 1;
}

.movie-info-container {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.char-name {
  font-size: 2.3vw;
  display: inline-block;
  background: rgba(0, 0, 0, 0);
  -webkit-transform: skew(10deg) rotate(10deg);
  transform: skew(10deg) rotate(10deg);
  padding: 5px 5px;
  margin-left: 30px;
  margin-top: 37px;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 2;
}

.movie-title {
  position: relative;
  text-align: left;
  font-size: 1vw;
  display: inline-block;
  background: rgba(0, 0, 0, 0);
  -webkit-transform: skew(10deg) rotate(10deg);
  transform: skew(10deg) rotate(10deg);
  margin-top: 2px;
  margin-left: 40px;
  text-transform: uppercase;
  font-weight: 300;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 2;
}

